header{
    height: 80px;
}

.my_sidebar{
    background-color: #122A3F;
    height: calc(100vh - 80px);
    width: 15%;
}
.my_cta{
    background-color: #1B72E8;
    height: 250px;
    
}

@media screen and (min-width: 768px) {
    .my_sidebar{
        width: 7%;
    }
    /* .my_cta{
        width: 93%; 
    } */
    
}
@media screen and (min-width: 992px) {
    .my_sidebar{
        width: 7%;
        
    }
    /* .my_cta{
        width: 93%; 
    } */
}
.prossime-classi{
    background-color: aqua;
    height: 500px;
    
}
.faq{
    background-color: blue;
    height: 400px;
}